/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 2em;
  font-family: helvetica, arial, sans-serif;
  background-color: slategrey;
  color:white;
  /* font-style?*/
}

h1 {
  font-family: verdana, arial, sans-serif;
}

button {
  font-size:15px;
  font-family: verdana, arial, sans-serif;
  padding: 10px;
  border-radius: 15px;
}

#startStopBtn > button {
  font-family: verdana, arial, sans-serif;
  color: white;
  background: #8697A8;
  margin:auto;
}

#gameButtonArea > button { /* targets the four game buttons by id */
  width: 200px;
  height: 200px;
  margin: 2px;
}

.hidden { /* all elements with class="hidden" will be hidden! */
  display: none;
}

#startBtn {
  border:4px solid YellowGreen;
}

#startBtn:hover{
  color:LightGreen;
}

#stopBtn {
  border:4px solid #EEB156;
}

#stopBtn:hover{
  color:Gold;
}

#button1 {
  background: DarkSeaGreen;
}

#button1:active, #button1.lit { /* targets the button element when it is either pressed or lit (CSS class) */
  background: OliveDrab;
}

#button2 {
  background: LightSteelBlue;
}

#button2:active, #button2.lit {
  background: CornflowerBlue;
}

#button3 {
  background: LightPink;
}

#button3:active, #button3.lit {
  background: PaleVioletRed;
}

#button4 {
  background: PaleGoldenrod;
}

#button4:active, #button4.lit {
  background: DarkKhaki;
}

#button5 {
  background: Thistle;
}

#button5:active, #button5.lit {
  background: MediumPurple;
}

#button6 {
  background: SandyBrown;
}

#button6:active, #button6.lit {
  background: Chocolate;
}


/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}